<footer>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l3">
                <h5>Random Stuff</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, mollitia? Officiis, mollitia laudantium nulla animi eaque placeat nesciunt eligendi ab nostrum laborum, distinctio expedita totam consequatur perferendis? Provident, molestiae
                    consequatur!
                </p>
            </div>
            <div class="col s12 m6 l3">
                <h5>Random Stuff</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, mollitia? Officiis, mollitia laudantium nulla animi eaque placeat nesciunt eligendi ab nostrum laborum, distinctio expedita totam consequatur perferendis? Provident, molestiae
                    consequatur!
                </p>
            </div>
            <div class="col s12 m6 l3">
                <h5>Random Stuff</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, mollitia? Officiis, mollitia laudantium nulla animi eaque placeat nesciunt eligendi ab nostrum laborum, distinctio expedita totam consequatur perferendis? Provident, molestiae
                    consequatur!
                </p>
            </div>
            <div class="col s12 m6 l3">
                <h5>Random Stuff</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, mollitia? Officiis, mollitia laudantium nulla animi eaque placeat nesciunt eligendi ab nostrum laborum, distinctio expedita totam consequatur perferendis? Provident, molestiae
                    consequatur!
                </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col s12 m12 l12 center text-gray">
                <span>&copy; Untitled All rights reserved</span>
            </div>
        </div>
    </div>
</footer>